# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY="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"

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET="12f00ee35656af208717403028df3aa1"
# Create a GitHub OAuth app here: https://github.com/settings/applications/new
# Authorization callback URL: https://authjs.dev/reference/core/providers_github#callback-url
AUTH_GITHUB_ID="96a20b30951ad31deb18"
AUTH_GITHUB_SECRET="5ad1fab94a1220e078ff913844ea6a7258163599"
# Support OAuth login on preview deployments, see: https://authjs.dev/guides/basics/deployment#securing-a-preview-deployment
# Set the following only when deployed. In this example, we can reuse the same OAuth app, but if you are storing users, we recommend using a different OAuth app for development/production so that you don't mix your test and production user base.
# AUTH_REDIRECT_PROXY_URL=https://nextjs-chat-gpt-seven.vercel.app/

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-kv/quickstart and 
KV_URL="redis://default:cb04ab0bbc3f48469d188e83ce2ef410@sound-anteater-38592.kv.vercel-storage.com:38592"
KV_REST_API_URL="https://sound-anteater-38592.kv.vercel-storage.com"
KV_REST_API_TOKEN="AZbAASQgZWRiZWY4ZWUtZGFmOC00MjllLWE2MmEtOWVjY2NiMGY1NjAxY2IwNGFiMGJiYzNmNDg0NjlkMTg4ZTgzY2UyZWY0MTA="
KV_REST_API_READ_ONLY_TOKEN="ApbAASQgZWRiZWY4ZWUtZGFmOC00MjllLWE2MmEtOWVjY2NiMGY1NjAxensMn2VTHITntXr1dORHgjzIiJCq9RGsfp0gf7fkzv0="

