.container {
    position: relative;
  
    & > * {
      inset: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  
    &.svg {
      transition: opacity 0.5s ease-out;
    }
  
    &.canvas {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
      max-width: 100%;
      max-height: 100%;
      opacity: 0;
      transition: opacity 0.25s ease-out;
    }
  }
  
  .usingCanvas {
    --timing: 0.5s;
  
    /* crossfade to avoid flash when canvas renders */
    &.svg {
      animation: fade-in var(--timing) ease-out forwards reverse;
    }
  
    &.canvas {
      animation: fade-in var(--timing) ease-out forwards;
    }
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  