# Collab Cloud configuration
# Your Tiptap Collab Cloud "App ID", see https://cloud.tiptap.dev/apps
NEXT_PUBLIC_TIPTAP_COLLAB_APP_ID=

# Your Tiptap Collab Cloud "App Secret", see https://cloud.tiptap.dev/apps/settings
TIPTAP_COLLAB_SECRET=

# The document prefix for your Tiptap Collab Cloud documents
NEXT_PUBLIC_COLLAB_DOC_PREFIX=doc_

# AI Cloud configuration
# Info: 
#   You need a paid plan to use this feature
#   Please add your "Open AI API Key" here: https://cloud.tiptap.dev/ai-settings

# Your Tiptap AI "App ID", see here https://cloud.tiptap.dev/ai-settings
NEXT_PUBLIC_TIPTAP_AI_APP_ID=

# Your Tiptap AI "JWT Secret", see here https://cloud.tiptap.dev/ai-settings
TIPTAP_AI_SECRET=
